body, .navbar-custom, .navbar-custom.top-nav-collapse {
	background-color: darkblue;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

footer, .navbar-custom, .navbar-custom.top-nav-collapse {
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.reg {
	font-size: 12px;
}

@media(min-width:768px) {
	.reg {
		font-size: 20px;
	}
}

.tel {
	font-size: 60px;
}

.nahead {
	margin-top: -9px;
}